
<% include header%>
<script src="/javascripts/addAction.js"></script>

<!-- Page Content -->
<input type="hidden" value="<%= add %>" id="add">
<input type="hidden" value="<%= account %>" id="account">

<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8"> 
			<h1  style="color: red;" align="center">Derive For This Product</h1>
			<!-- <h3  style="color: blue;" align="center"><%= add %></h3> -->
			<br></br>
			
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="namePro" class="col-md-3 col-xs-12 text-left">Name</label>
					<label type="text" name="namePro" class="col-md-9 col-xs-12 form-control" id="namePro" readonly ></label>
				</div>
			</div>	
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="address" class="col-md-3 col-xs-12 text-left">Address</label>
					<input type="text" name="address" class="col-md-9 col-xs-12 form-control" id="address" value="<%= add %>" readonly>
				</div>
			</div>	
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="newproduct" class="col-md-3 col-xs-12 text-left">New Product Names</label>
					<input type="text" name="newproduct" class="col-md-9 col-xs-12 form-control" id="newproduct" placeholder="New Product Names">
				</div>
			</div>
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="unit" class="col-md-3 col-xs-12 text-left">Unit</label>
					<input type="text" name="unit" class="col-md-9 col-xs-12 form-control" id="unit" placeholder="Unit">
				</div>
			</div>
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="amount" class="col-md-3 col-xs-12 text-left">Amount</label>
					<input onkeyup="validateamount(this);" type="text" name="amount" class="col-md-9 col-xs-12 form-control" id="amount" placeholder="Amount..." required>	            
				</div>
			</div>
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="ratio" class="col-md-3 col-xs-12 text-left">Ratio</label>
					<input onkeyup="validateamount(this);" type="text" name="ratio" class="col-md-9 col-xs-12 form-control" id="ratio" placeholder="Ratio..." required>
				</div>
			</div>
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="expirydate" class="col-md-3 col-xs-12 text-left">Expirydate</label>
					<input type="date" name="expirydate" class="col-md-9 col-xs-12 form-control" id="expirydate" placeholder="Expirydate..."
					required>
				</div>
			</div>
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="executefrom " class="col-md-3 col-xs-12 text-left">Execute From</label>
					<input type="text" name="executefrom" class="col-md-9 col-xs-12 form-control" id="x" value="<%= account %>" disabled>
				</div>
			</div>
			<div class="box-body padding-large">
				<div class="form-group row">
					<label for="password" class="col-md-3 col-xs-12 text-left">Password</label>
					<input type="password" name="password" class="col-md-9 col-xs-12 form-control" id="password" placeholder="Password">            
				</div>
			</div>
			<div class="box-body padding-large">
				<div class="form-group row">
					<label class="col-md-5 col-xs-12 text-left"></label>
					<button type="submit " class="col-md-2 col-xs-12 btn btn-primary " id="Button" onclick="submit();">Submit</button>
					<label class="col-md-5 col-xs-12 text-left"></label>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>


<br></br><br></br> <br></br>



<!-- Footer -->
<% include footer%>